#content {

	#directions {
    padding: 3.4% 0;

    h2 {
      margin-bottom: 2.12%;
    }

    .left {
      float: left;
      width: 36%;
      height: 400px;
      
      #address {

        font-size:14px;
        color: #555;
        padding: 5.44%;
        background: white;

        img {
          width:36px;
          float:left;
          margin-left: 3.44%;
        }

        p {
          display: inline-block;
          padding: 4px 0 0 14px;
        }
      

        a {
          display: block;
          margin: 0 auto;
          width: 200px;
          text-align: center;
          padding: 2.12% 0 1.3%;
          background: #FF5A5F;
          color: #fff;
          text-decoration: none;
          border-bottom: 2px solid rgba(0, 0, 0, 0.1);
          margin-top: 17px;
          font-weight: 600;
        }
      }
    }

    #map {
      float: right;
      width: 62%;
      height: 400px;
      background-color: #ccc;
    }
  }
}

/******************************************** SMALL SCREEN ****************************************/

@media screen and (min-width: 320px) and (max-width: 767px) {

  #content {

    #directions {

      .left {
        width: 93.12% !important;
        height: auto !important;
        margin: 3.44%;

        #address {

          a {
            padding: 5.5% 0 3.44%;
          }
        }
      }

      #map {
        width:100%;
      }

      
    }

  }

}