
.eaar-reviews-skeleton-container{

  margin: 5.5% 0;

  & > div:nth-of-type(3) {
    display: none;
  }

}


@media screen and (min-width: 320px) and (max-width: 767px) {
  .eaar-reviews-skeleton-container {
    margin: 5.5%;
  }
}