.slide {
  height: 780px;
  overflow: hidden;
  position: relative;

  img {
    max-width: 100%;
    height: auto;
  }

  &.first {
    background:image-url('rooms/5/2.jpg') center;
    background-size: cover;
  }
}
