// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



#hero {
	width:100%;
	display:block;
	overflow: hidden;
	background:image-url('blue-waves.png') repeat;

	#overlay {
		height:100%;
		width:90%;
		margin: 0 5%;
		position: relative;

		#superhost {
			background:image-url('logos/airbnb-superhost.png') center no-repeat;
			width: 191px;
			height: 52px;
			position: absolute;
			right: 4%;
			top: 0;
			z-index: 1;
			background-size: cover;
		}

		#headline {
			display: block;
			text-align: center;
			position: absolute;
			text-transform: uppercase;
			white-space: nowrap;
			background: rgba(255,255,255,0.95);
			box-shadow: 2px 2px 2px rgba(0,0,0,0.3);

			  h1 {
					color: #182c4b;
					font-weight: 300;
				}

		    h2 {
					display: block;
					margin-top: 2.12%;
					color: #689ba4;

					img {
						position: relative;
						width: 10px;
						height: 15px;
						margin: 0px 4px 0 0;
						top: 2px;
					}
				}
				
				#cta {
					display: block;
					margin: 0 auto;
					width: 200px;
					text-align: center;
					padding: 2.12% 0 1.3%;
					background: #FF5A5F;
					color: #fff;
					text-decoration: none;
					border-bottom: 2px solid rgba(0,0,0,0.1);
					margin-top: 17px;
					font-weight: 500;
					font-size: 15px;
				}
    	}

    	video {
    		position: absolute;
			  bottom: 0px;
			  //left: 50%;
			  //-webkit-transform: translateX(-50%) translateY(-50%);
			  //transform: translateX(-50%) translateY(-50%);
			  min-width: 100%;
			  min-height: 100%;
			  width: auto;
			  height: auto;
			  z-index: -10;
			  overflow: hidden;
				background:black;
		}

		#facebook {
			display: block;
		    overflow: hidden;
		    width: 286px;
		    height: 110px;
		    background-color:#fff;
		    background-color: rgba(255,255,255,0.97);
		    position: absolute;
		    bottom: 12px;
		    left: 10px;
		    padding: 0.8% 1.3%;
		    text-decoration: none;


		    .rating {
		    	width:133px;
		    	float:left;
		    }

		    .total {
		    	color: #777;
			    font-size: 14px;
			    left: 10px;
			    position: relative;
		    }

		    .review {
		    	color: #555;
			    font-size: 13px;
			    padding-top: 8px;
					font-style: italic;
					cursor: pointer;
				}
				
		}
  }
}

#reviews {

	padding: 2.12%;
	display: flex;

	a:nth-of-type(4) {
		margin-right: 0;
	}

	& > a  {
		width: 22%;
		display: block;
		float:left;
		height: 110px;
		padding: 0.8% 1.3%;
		background-color: #fff;
		text-decoration: none;
		z-index: 10;
		border: 1px solid #ddd;
		border-radius: 2px;
		margin-right:4%;

		
	}

	#marie-claire {
		background:image-url('logos/marie-claire.png') center no-repeat #fff;
		background-size: contain;
	}
	
	#lonely-planet {
		background:image-url('logos/lonely-planet.png') center no-repeat #fff;
		background-size: contain;
	}

	#house-beautiful {
		background:image-url('logos/house-beautiful.png') center no-repeat #fff;
		background-size: contain;
	}

	#bunnys {
		background:image-url('logos/bunnys.png') center no-repeat #fff;
		background-size: contain;
	}
}

#content {

	#description {

		background:#fff;
		padding:5.5% 0;

		.item {
			width:100%;
			display: block;
			padding: 5.5% 0;
			overflow: hidden;

			.item-image {
				background:#fff;
				max-width:382px;
				display:block;
				overflow:hidden;

				a {
					display: block;
					height:200px;
				}

				img { margin-top:-25px; }

			}

			.item-title {
				text-align: center;
				font-weight: 600;
				font-size: 1.5em;
				margin: 38px 0 12px;
				color: #182c4b;

			}

			.item-text {
				text-align: center;
  			font-weight: 300;
  			line-height: 1.5;

			}
		}
	}

	#images {

		overflow: hidden;
	}

	#gallery {

		overflow:hidden;
		width: 100%;

		.thumbnail {
			float:left;
			background:#fff;
			overflow: hidden;
		}
	}


	#rooms, #villa {

		& > .wrapper { padding-top: 5.5%; padding-bottom: 2.12%; }

		h2 {

		    margin-bottom: 0;
		}

		span {
		    text-align: center;
		    color: #666;
		    font-size: 15px;
		    margin-left: 6px;
		}

		#availability {
			display: inline-block;
		    margin: 2.12% 8% 0;
		    width: 84%;
		    padding: 2.12% 3.44% 2%;
		    background: white;
		    display: none;

		    em {
		    	font-style:normal;
		    	font-weight:600;
		    	font-size: 15px;
		    	margin-right: 20px;
		    }

	    	label {
	    		color:#182c4b;
	    		font-size: 14px;
	    		margin: 0 0.5% 0 3.44%;
	    	}

	    	input[type="text"] {
	    		text-align: center;
    			font-size: 12px;
	    	}

	    	input[type="submit"] {
	    		        border: 1px solid rgba(0, 0, 0, 0.1);
					    padding: 0 10px;
					    font-weight: 600;
					    text-transform: uppercase;
					    color: #fff;
					    float: right;
					    background: #182c4b;
					    height: 24px;
					    line-height: 24px;
	    	}
		}

		.room {
				overflow: hidden;
				float:left;
				list-style: none;
		}

		.room-number {
				font-size: 18px;
		    color: #fff;
		    line-height: 50px;
		    width: 100%;
		    text-align: left;
				height:50px;
				position: relative;
				margin-top:-50px;
				font-weight:bold;
				padding-left: 3.44%;
		}

		.room-images {
		    background: #fff;
				overflow: hidden;
				padding: 1.3% 1.3% 0;
				max-height: 320px;

		    a {
		    	overflow: hidden;
		    	position: relative;
		    }

				a:first-child {	display: block; }
				a:nth-of-type(n+2) { display:none; }


		}

		.room-info {
			height:60px;
			background: #fff;
			position: relative;


			li {
		       	display: block;
			    float: left;
			    width: 25%;
			    text-align: center;
			    height: 60px;
			    border-radius: 2px;
			    font-size: 12px;
			    color: #444;

			    img {
			    	width: auto;
				    height: 22px;
				    display: block;
				    margin: 9px auto 2px;
			    }
			}

		}

		.room-desc {
			text-align:center;
    	border: 1px solid #eee;

			p {
				display: block;
			    height: 100%;
			    font-size: 12px;
			    color: #444;
			    text-align: justify;

			    span {


			    	img {
			    		width:100px;
			    	}
			    }

			}
		}

		.book {
			display: block;
		    margin: 0 auto;
		    width: 200px;
		    text-align: center;
		    padding: 2.12% 0 1.3%;
		    background: #FF5A5F;
		    color: #fff;
		    text-decoration: none;
		    border-bottom: 2px solid rgba(0,0,0,0.1);
		    margin-top: 17px;
		    font-weight: 600;
		}
	}

	#big-group {
		float: right;
    margin: 0% 8% 0 0;
		color: #666;
    font-size: 15px;
	}

	#big-group a { color:#182c4b }

	#parallax {
		overflow: hidden;
		height: 400px;
		width: 100%;
		position:relative;

		span {
			color: white;
			font-size:30px;
			position: absolute;
			text-align: center;
			line-height: 400px;
			background-color: rgba(0,0,0,0.1);
			width:100%;
			display: block;
			z-index: 10;
			text-transform: uppercase;
			font-weight: bold;
			text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
			letter-spacing: 1px;
		}

		video {
			transform: translateX(0%) translateY(-25%);
		}
	}

	#villa .room { padding-bottom:3.14%; }

	.home-away {
		background: #2a6ebb !important;
    margin-top: 7px !important;
	}

	#services {

		li {
		    display: inline-block;
		    width: 29.09%;
		    height: 40px;
		    line-height: 40px;
		    margin: 0 2.12% 2.12%;
		    border: 1px solid rgba(0,0,0,0.08);
		    background:#fafafa;
		    font-size: 14px;

		    span {
			    font-style: italic;
			    font-size: 14px;
			    color: #999;
			}
		}

		li:before {
			content: '';
			background: #182c4b;
			float: left;
			width:40px;
			height: 40px;
			display: block;
			margin-right: 5.5%;
			margin-top: -1px;
		}
	}


	#location {
		padding: 3.4% 0;

		#map {
			background: #666;
			height:500px;
		}
	}
}

iframe {border:0}

#media {

	padding: 3.4% 0;
	background:image-url('blue-waves.png') repeat;

	h2 {
		margin-top:0;
	}
	
	p {
		font-size:14px;
	}
}

/*.lg-sub-html {display: none;}*/

/******************************************** SMALL SCREEN ****************************************/

@media screen and (min-width: 320px) and (max-width: 767px) {

body {

	#hero {
		height: 500px;

		video {display: none;}

		#overlay {

			#superhost {
				width:133px;
				height:36px;
			}
		
			.slide {
				height:480px;
				margin-bottom:20px;
				border-bottom-width: 1px;

				#headline {
					bottom: 4%;
					width:auto;
					left: 50%;
					transform: translateX(-50%);
					padding: 3.44%;
					background-color:transparent;
					box-shadow:none;
		
					h1 {
						font-size: 16px;
						color:white;
						font-weight: 400;
					}
		
					h2 {
						font-size: 13px;
						font-weight: 300;
						white-space: normal;
						color:white;

						img {
							display:none;
						}
					}
				}
			}
		}

		
	}

	#reviews { display: none;}

	#description .item {

		.item-title {
			font-size:1.3em;
		}

		.item-image {
			margin:0 auto;
		}

		.item-text {
			padding: 0 10px;
			font-size:0.875em;
			color: #444;
		}

	}

	#gallery .thumbnail {
		width: 24.8%;
		margin:0.1%;
	}

	#gallery .thumbnail:last-child {display: none;}

	#rooms, #villa {

		padding: 0 4px;

		span {
			display: block;
		}

		#big-group {
			display:none;
		}

		.room {

			width:100%;
			padding:5.55% 0;


			.room-images {
				width:100%;

			}

			.room-desc {
				width:100%;
				background:#fff;
				height:auto;

				p {padding:3.44%;}

			}

		}

	}

	#parallax {
		display:none;
	}

	#services {display:none;}

	#location {padding: 0 5.5% 5.5%;}

	}
}


/****************************************** MEDIUM SCREEN *****************************************/


@media screen and (min-width: 768px) and (max-width: 980px) {

#content #parallax video {
	transform: none;
	}
}

#content #description .item .item-text { letter-spacing: -0.2px;}

#content #parallax { height:300px}
#content #parallax span { line-height: 300px;}

/****************************************** LARGE SCREEN *****************************************/

@media screen and (min-width: 768px) {

	#hero {
		height: 580px;

		#overlay {background: rgba(0,0,0,0.3);}

		#headline {
			top: 36%;
			width: 480px;
			height: 180px;
			left: 10%;
			padding: 3.14%;

			h1 {
				font-size: 23px;
			}

			h2 {
				font-size: 14px;
				font-weight: 400;
				white-space: nowrap;
			}
		}
	}

	#content #description .item {

		.item-image.left {
			float:left;
			margin: 0 3.44% 0 0;
		}

		.item-image.right {
			float:right;
			margin: 0 0 0 3.44%;
		}

		.item-text {
			font-size: 1em;
			color: #555;
		}

	}

	#gallery .thumbnail {
			width:19.9%;
			margin:0.05%;
	}

	#rooms, #villa {

		h2 {
			display: inline-block;
		  margin-left: 8%;
		}

		span {
			display: inline-block;
		}

		#big-group {
			display:block;
		}

		.room:nth-child(odd) {
			margin-right: 4%;
		}

		.room {

			width: 48%;
			border-bottom: 1px solid rgba(0,0,0,0.05);
			padding: 3.44% 0;

			.room-images {

				a:hover img {
		    	 -moz-transform: scale(1.1);
  				-webkit-transform: scale(1.1);
  				transform: scale(1.1);
		    }

		    a:hover:after {
		    	display: block;
			    content: '';
			    background: rgba(0, 0, 0, 0.3);
			    height: 100%;
			    width: 100%;
			    position: absolute;
			    top: 0;
			    background:image-url('icons/zoom.png') center 50% no-repeat rgba(0,0,0,0.3);
		    }

		    img {
		    	 -moz-transition: all 0.3s;
  				-webkit-transition: all 0.3s;
  				transition: all 0.3s;
		    }

			}

			.room-desc {
				background:#fbfbfb;
				height:150px;

				p { padding:5.5%; }

			}

		}

	}



	#services {
		display:block;
	}

}
